.Items {
  width: 70%;
  margin: auto;
  margin-top: 2em;
  border-radius: 5px;
  box-shadow: 5px 10px 5px grey;
  background-color: #5e6178;
  color: #f0eff4;
}

.Nome {
  text-align: left;
}

.Cabecalho {
  color: #f1a811;
}
