.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(180deg, rgba(240,239,244,1) 0%, rgba(210,207,210,1) 90%, rgba(199,195,197,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

strong {
  color: #E6191E;
}
