/* Color Theme Swatches in Hex */
.Red-With-a-Twist-1-hex { color: #151826; }
.Red-With-a-Twist-2-hex { color: #F1A811; }
.Red-With-a-Twist-3-hex { color: #E6191E; }
.Red-With-a-Twist-4-hex { color: #F0EFF4; }
.Red-With-a-Twist-5-hex { color: #5E6178; }

/* https://color.adobe.com/pt/search?q=gold */